html, body { 
    margin: 0; 
    height: 100%; 
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
    color: aliceblue;

    display: flex;
    flex-direction: column;
}

.background{
    position: fixed; 
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 10;
}

main{
    margin-top: 80px;
}
header nav ul{
    display: flex;
    flex-direction:row;
    list-style:none;
    align-items: center;
    gap: 15px;
    margin: 0;
    margin-left: 40px;
}

header nav {
    background-color: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur(10px);
}

header nav {
    display: flex;
    flex-direction:row;
    list-style:none;
    align-items: center;
    gap: 15px;
    margin: 0;
    
}




a {
    color:rgb(255, 255, 255);
    text-decoration-line: none;
}

a:hover, a:focus-visible {
    text-decoration: underline;
    color: rgb(255, 183, 238);
}

.rectangle_info{
    display:flex;
    
    flex-direction: column;
    align-items: flex-start;
    width: 1395px;
    height: 1660px;

    border-radius: 49px;
    background-color: rgba(0, 0, 0, 0.508);
    backdrop-filter: blur(20px);
    
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 40px;
    
}

table {
    flex-wrap: wrap;
    width: 1315px;
    height: 500px;
    margin: 40px;
    margin-top: 60px;
    border: 4px solid aliceblue;
    border-radius: 9px;
    border-spacing: 0px;
}


table td {
    padding: 5px;
    border: 1px solid;
    
}

table th {
    padding: 10px;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0.308);
}


.box{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

    margin: 40px;
}


.filters__img {
    flex: auto;
    text-align: center;
    justify-content: center;
}
img {
    width: auto;
    height: 250px;
    border-radius: 9px;
    border: 2px solid aliceblue;
    margin-bottom: 15px;

}

footer {
    margin-top: auto;
    background: rgba(0, 0, 0, 0.508);
    padding-block: 24px;
    backdrop-filter: blur(10px);
}

footer p { margin-left: 40px; margin-top: 0;}

footer a {
    display: block;
    margin-left: 40px;
}

footer { padding-block: 15px; }